airflow: 
  executor: LocalExecutor

  config:
    AIRFLOW__CORE__EXECUTOR:
      value: LocalExecutor
    AIRFLOW__KUBERNETES__DAGS_IN_IMAGE:
      value: "True"
    GUNICORN_CMD_ARGS:
      value: "--log-level DEBUG"

rolesBootstrap:
  enabled: true
  roles:
    - group_1
    - group_2
    - group_3
    - group_4
    - group_5

  dags:
    persistence:
      enabled: false
    gitSync:
      enabled: false

  logs:
    persistence:
      enabled: false

  redis:
    enabled: false